.event-details-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .event-details-title {
    font-family: 'Jost', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .event-details-date-location {
    font-family: 'Jost', sans-serif;
    font-size: 0.875rem;
    color: #555;
    margin-bottom: 10px;
  }
  
  .event-details-organizer-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
  }
  
  .event-details-organizer-name {
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
    color: #23A3EB;
  }
  
  .event-details-button {
    background-color: #23A3EB;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    font-family: 'Jost', sans-serif;
    cursor: pointer;
  }
  
  .event-details-bookmark-icon {
    color: #23A3EB;
    cursor: pointer;
  }
  
  .event-details-description {
    font-family: 'Jost', sans-serif;
    margin-bottom: 10px;
    color: #555;
  }
  
  .event-details-tags {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    font-family: 'Jost', sans-serif;
  }
  
  .event-details-tag {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.75rem;
    font-weight: 500;
  }
  
  .event-details-tag svg {
    margin-right: 5px;
  }
  
  .event-details-images {
    display: flex;
    gap: 10px;
  }
  
  .event-details-image {
    width: 100%;
    border-radius: 10px;
    max-width: 100px;
  }
  