.event-details-container {
  padding-left: 20px;
  max-width: 500px;
}

.event-details-header {
  display: flex;
  align-items: center;

}

.event-back-button {
  background: none;
  font-size: 15px;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 20px;
}

.event-details-title {
  font-family: 'Jost', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
  flex-grow: 1; /* Allows the title to take up remaining space */
}

.event-details-date-location {
  font-family: 'Jost', sans-serif;
  font-size: 0.75rem;
  color: #555;
  text-align: left;
  margin-top: -8px;
}

.event-details-organizer-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.organizer-profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.event-details-organizer-name {
  font-family: 'Jost', sans-serif;
  font-size: 1rem;
  color: #23A3EB;
  margin-right: 20px;
}

.event-details-button {
  background-color: #23A3EB;
  color: white;
  border: none;
  border-radius: 100px;
  padding: 10px 20px;
  font-size: 0.8rem;
  font-family: 'Jost', sans-serif;
  cursor: pointer;
}

.event-details-bookmark-icon {
  color: #23A3EB;
  cursor: pointer;
}

.event-details-description {
  font-family: 'Jost', sans-serif;
  margin-bottom: 10px;
  color: #555;
  text-align: left;
}

.event-details-tags {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  font-family: 'Jost', sans-serif;
}

.event-details-tag {
  display: flex;
  align-items: center;
  padding: 2px 5px;
  border-radius: 10px;
  font-size: 0.55rem;
  font-weight: 400;
}

.event-details-tag svg {
  margin-right: 5px;
}

.event-details-images {
  display: flex;
  gap: 10px;
}

.event-details-image {
  width: 100%;
  border-radius: 10px;
  max-width: 100px;
}
