/* Reset margin and padding for body and html */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Apply box-sizing to all elements */
  *, *::before, *::after {
    box-sizing: inherit;
  }

  /* Remove default link styling */
.event-item-link {
    text-decoration: none;
    color: inherit;
  }
  
  
  /* explore.css */
  .explore-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .explore-container h2 {
    font-family: 'Jost', sans-serif;
    color: #23A3EB;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .events-list {
    display: flex;
    flex-direction: column;
    gap: 10px;

  }
  
  .event-item {
    display: flex;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Jost', sans-serif;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 100%;
  }
  
  .event-item:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }
  
  .event-left {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-left: -7.5px;
  }
  
  .event-pic {
    width: 10vh;
    height: 10vh;
    border-radius: 10px;
  }
  
  .event-right {
    padding-left: 8px;
    margin-top: -5px;
    margin-right: -7.5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left; /* Align all text to the left */
  }
  
  .event-title {
    font-family: 'Jost', sans-serif;
    color: #23A3EB;
    font-weight: 400;
    font-size: 1.0rem;
    margin: 0;
  }
  
  .event-tags {
    display: flex;
    gap: 20px;
  }
  
  .event-tag {
    display: flex;
    align-items: center;
    padding: 2px 5px;
    border-radius: 10px;
    font-size: 0.55rem;
    font-weight: 400;
  }
  
  .event-tag svg {
    margin-right: 2.5px;
  }
  
  .event-time,

  .event-location {
    margin: 0px 0; /* Small margin for compactness */
    color: #555;
    font-size: 0.55rem;
  }

  .event-description{
    margin: 0px 0; /* Small margin for compactness */
    color: #555;
    font-size: 0.55rem;
    margin-top: 3px;
  }
  