.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Jost', sans-serif;
}

.profile-picture-container {
  position: relative;
}

.profile-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.username-instagram {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.username {
  font-size: 24px;
  font-weight: 700;
  color: black;
  margin: 15px 0 5px;
}

.instagram-icon {
  color: #3498db;
  font-size: 30px;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
}

.instagram-icon:hover {
  color: #2980b9;
}

.bio {
  font-size: 16px;
  color: #34495e;
  text-align: center;
  margin-bottom: 30px;
}

.button-row {
  display: flex;
  gap: 10px;
}

.profile-button {
  background: none;
  color: #3498db;
  border: none;
  font-size: 14px;
  font-family: 'Jost', sans-serif;
  cursor: pointer;
  transition: color 0.3s ease;
}

.profile-button:hover {
  color: #2980b9;
}

/* Photos grid with square items */
.photos-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create 3 equal columns */
  gap: 5px;
  width: 100%;
  justify-content: center; /* Center the entire grid */
}

.photo-item, 
.add-photo-button {
  position: relative;
  width: 100%;
  padding-top: 100%; /* Square aspect ratio */
  overflow: hidden;
}

.photo-item img, 
.add-photo-button img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.add-photo-button input[type="file"] {
  display: none; /* Hide the file input */
}

/* Hide delete button by default */
.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(255, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
  display: none;
}

/* Show delete button on hover */
.photo-item:hover .delete-button {
  display: block;
}
